h1{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

body{
    font-family: 'Arial', sans-serif;
}

header{
    display: flex;
    align-items: center;
    padding: 10px;
}

.contedor{
    position: relative;
}


.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    padding: 15px 30px;
    border: none;
    border-radius: 70px;
    font-size: 20px;
    cursor: pointer;
}

button.usuario{
    background-color: #dddddd;
    color: #333;
}

button.admin{
    background-color: #4caf50;
    color: #fff;
}
